replicaCount: 1

image:
  repository: todo-list-fe
  tag: "latest"
  pullPolicy: IfNotPresent

service:
  type: NodePort
  port: 80
  nodePort: 31080

resources: {}

nodeSelector: {}

tolerations: []

affinity: {}
